.env
.env.*
config/env/*.env
!config/env/.env.example

**/node_modules/
npm-debug.log*
package-lock.json

infra/erpnext/sites
infra/erpnext/logs



logs?
*.log
storage/logs/
storage/backups/
storage/postgres/

dist/
build/

.DS_Store
Thumbs.db